body{
  font-family: monospace;
}
a {
  text-decoration: none;
  color : #493781;
}
a:hover {
  color: #D5D1E3;
}
#header{
  position: fixed;
  top:0px;
  left: 0px;
  background-color: #5D4F6F;
  width: 25%;
  height: 100%;
  padding: 10px;
  color: #fff;
  margin-left: 25px:
}
#header img{
  width: 10%;
}
#contenido{
  float:left;
  position: absolute;
  top:0px;
  left: 30%;
  width: 70%;
  min-height: 500px;
}
#funciones{
  width: 800px;
  max-height: 500px;
  height: 450px;
  background-color:#23252A;
  padding: 15px;
  overflow: scroll;
  font-size: 25px;
}
#funciones h4{
  color: #287182;
}
#funciones {
 color:#E68767
}

