<Doctype hmtl>
<head>
<meta charset="utf-8">
<title>Complemento</title>
<link rel="stylesheet" type="text/css" href="sources/style.css"/>
</head>
<body>
  <div id="header">
<header>
<h1>
complemento.hs
</h1>
<h2>
Programa que representa números en formato complemento a 1 y complemento a 2.
O a partir de un número binario expresado en complemento obtiene su valor decimal.
</h2>
<img src="sources/haskell_logo.svg">
<p>Programado con Haskell 8.2</p>
<h3>
Equipo:
<ul>
  <li> Jacales Rojas Héctor Daniel</li>
  <li> Ocaña Paredez Kidcia Mireya</li>
  <li> Daniel Alberto Hernández Guevara </li>
  <li> Zuno Sánchez Ricardo </li>
</ul>
</h3>
</header>
</div>
<div id="contenido">
<h1>  Lista De Funciones</h1>
<ul>
  <a href = "#parsebits"><li>parsebits</li></a>
  <a href="#invBits"> <li>invBits</li> </a>
  <a href = "#invBit"><li>invBit</li> </a>
  <a href = "#bin2dec"><li>bin2dec</li></a>
  <a href = "#mostrarBinario"><li>mostrarBinario</li></a>
  <a href = "#decToBin"><li>decToBin</li></a>
  <a href = "#comp1"><li>comp1</li></a>
  <a href = "#comp2"><li>comp2</li></a>
  <a href = "#cunotoDec"><li>cunotoDec</li></a>
  <a href = "#cdostoDec"><li>cdostoDec</li></a>
  <a href = "#menu"><li>menu</li></a>
  <a href = "#main"><li>main</li></a>
</ul>
 <div id="funciones">
   <div id="parsebits"><h4> parsebits</h4>
    <p> Obtiene la cantidad de bits de un número binario.</p>
  </br> :: [Char] -> Int
   </div>
   <div id="invBits"><h4> invBits</h4>
   </br>Invierte bits en formato Char
 </br> </br>:: Char -> Char
  </br>  '1' => '0'
</br>'0' => '1'
   </div>
   <div id="invBit"><h4> invBit</h4>
   <p> Invierte bits en formato Int
     </br>
   </br> :: Int -> Int
 </br> 1 => 0
   </br> 0 => 1
   </p>
   </div>
   <div id="bin2dec"><h4> bin2dec</h4>
   <p> Expresado un número en formato binario, obtiene su valor en decimal, sin signo.
   </br></br> :: [Char] -> Int </p>
   </div>
   <div id="mostrarBinario"><h4> mostrarBinario </h4>
    <p> Dadó una lista de enteros, muestra su representación en pantalla.
    </br></br> :: [Int] -> IO()
    </p>
   </div>
   <div id="decToBin"><h4> decToBin</h4>
   <p> Obtiene la representación en binario (sin signo) de cuálquier número entero.
   </br></br> :: Int -> [Int]    </p>
   </div>
   <div id="comp1"><h4> comp1</h4>
    <p> Obtiene la representación en complemento a uno de cualquier número con signo.
    </br></br> :: [Int] -> Int -> [Int]
     </p>
   </div>
   <div id="comp2"><h4> comp2</h4>
   <p> Obtiene la representación en complemento a dos de cualquier número con signo.
   </br></br> :: [Int] -> Int -> [Int]
    </p>
   </div>
   <div id="cunotoDec"><h4> cunotoDec</h4>
    <p> Expresado un número en binario (con signo) en complemento a uno obtiene su valor en decimal
    </br></br> :: [Char] -> Int -> Int
    </p>
   </div>
   <div id="cdostoDec"><h4> cdostoDec</h4>
   <p> Expresado un número en binario (con signo) en complemento a dos obtiene su valor en decimal. </p>
 </br></br> :: [Char] -> Int -> Int
   </div>
   <div id="menu"><h4> menu</h4>
   <p> Determina el ciclo de ejecución del programa.</p>
   </div>
   <div id="main"><h4> main</h4>
   <p> Primera función que ejecuta el compilador.</p>
   </div>
 </div>
  <p>Instruciones De Uso:
  Descargar  e Instalar ghc ( compilador de Haskell)
  </br> Ejecutar: $ ghc complemento.hs
  </br> : $ ./complemento
</p>
</div>

</body>
